# project files
.idea/
frontend/node_modules/
frontend/package-lock.json

# test code
frontend/bootstraptut.html

# compiled code
__pycache__/

# database
db.sqlite3

# media
media/

# virtualenvironment
venv/

# Chrome
CChrome/
start_chrome.sh

# logs
*.log
