# project files
.idea/
frontend/node_modules/
frontend/package-lock.json

# test code
frontend/bootstraptut.html

# compiled code
__pycache__/

# database
db.sqlite3

# mechanism images
img/

# virtualenvironment
venv/

# Chrome
CChrome/
start_chrome.sh

# logs
*.log

# data
data/

# external code
external/
