# project files
.idea/

# external dependencies
node_modules/

# reference code
bootstrap_tutorial.html

# compiled code
__pycache__/

# database
db.sqlite3

# media
img/
parametric_models/

# virtual environment
venv/

# external code
external/
