html, body {
    /*keeps footer at bottom of page*/
    height: 100%;
}

.axes-line {
    white-space: nowrap;
}

.background {
    background-image: url("/media/blueprint.jpg"); /*http://www.bestpsdfreebies.com/freebie/10-seamless-blueprint-patterns/*/
    height: calc(100% - 5em);
}

.background-overlay {
    background: linear-gradient(#fbfbfb88, #8888ffbb);
    height: 100%;
}

.bottom-nav {
    background-color: #39424d;
    padding: 5px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 3em;
}

.bottom-nav-text {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.container-for-footer {
    /*pushes footer down*/
    min-height: calc(100% - 5em);
    position: relative;
}

.content {
    max-height: calc(100% - 4em);
    padding: 2em;
}

.content-box {
    background-color: white;
    border: 1px solid lightgray;
    border-top: 0;
}

.preview-image {
    height: 130px;
    width: 130px;
    margin-right: 1em;
}

.row {
    display: flex;
}

.small-icon {
    display: inline-block;
    height: 25px;
}

.top-nav {
    background-color: #f8f8f8;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.top-nav-fixed {
    position: fixed;
    height: 5em;
    top: 0;
    background-color: #1b1b1b;
    width: 100%;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}

.top-nav-fixed img {
    height: 5em;
    padding: 1em;
    margin-right: 2em;
}

.top-nav-wrapper {
    height: 5em;
}
