.icon {
    display: block;
    height: 30px;
    margin-right: 10px;
}

.row {
    display: flex;
    max-width: 600px;
}

.column {
    flex: 50%;
    margin-right: 50px;
}

.btn.btn-secondary {
    background-color: lightgray;
}

.btn.btn-secondary.positive.active {
    background-color: green;
}

.btn.btn-secondary.neutral.active {
    background-color: gray;
}

.btn.btn-secondary.negative.active {
    background-color: red;
}

.search-result {
    margin-bottom: 110px;
}

.preview-image {
    height: 100px;
    margin-right: 1em;
}

.mechanism-name {
    font-size: 26px;
    color: #0000cc;
}

.mechanism-link {
    font-size: 18px;
    color: green;
}

.mechanism-description {
    font-size: 18px;
}

.mechanism-parameters {
    font-size: 18px;
    margin-top: 5px;
}

.top-nav {
    background-color: #f8f8f8;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.bottom-nav {
    background-color: #f8f8f8;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    margin-top: 20px;
    float: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.infobox {
    float: right;
    border: 1px solid lightgray;
    background-color: #f8f8f8;
    border-spacing: 1em;
    border-collapse: separate;
    margin-left: 1em;
    max-width: 300px;
}

.content {
    padding: 1em;
}

.image {
    max-width: 300px;
    max-height: 300px;
}

.html {
    min-height: 100%;
}